.image > div {
  display: flex;
  flex-direction: column;
}

.image img {
  width: 100%;
}

.image > div > div {
  order: 1;
}

.image > div > .image-img-col {
  order: 0;
}

.image > div > .image-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .image > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .image > div > div {
    flex: 1;
    order: unset;
  }
}
